*.docx
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc

# Mac / Linux noise
.DS_Store
application/